@import url("bootstrap.css");
@import url("bootstrap-responsive.min.css");
@font-face {
  font-family: 'symantec_sansregular';
  src: url("../fonts/sa______-webfont.eot");
  src: url("../fonts/sa______-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sa______-webfont.woff") format("woff"), url("../fonts/sa______-webfont.ttf") format("truetype"), url("../fonts/sa______-webfont.svg#symantec_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'symantec_sansbold_italic';
  src: url("../fonts/sabditsm-webfont.eot");
  src: url("../fonts/sabditsm-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sabditsm-webfont.woff") format("woff"), url("../fonts/sabditsm-webfont.ttf") format("truetype"), url("../fonts/sabditsm-webfont.svg#symantec_sansbold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'symantec_sansbold';
  src: url("../fonts/sabdsm__-webfont.eot");
  src: url("../fonts/sabdsm__-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sabdsm__-webfont.woff") format("woff"), url("../fonts/sabdsm__-webfont.ttf") format("truetype"), url("../fonts/sabdsm__-webfont.svg#symantec_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: symantec_sansregular;
  background: url("../img/body-bg.png") repeat-x;
  background-color: #f4f0ed !important;
}
body .left {
  float: left;
}
body #wrapper {
  font-family: symantec_sansregular;
  line-height: 18px;
  width: 960px;
  margin: 0 auto;
}
body #wrapper header {
  height: 157px;
}
body #wrapper header .logo {
  height: 107px;
  background: url(../img/bg-pattern.png) top right no-repeat;
}
body #wrapper header nav {
  float: left;
  width: 100%;
  height: 50px;
  margin-bottom: 0px;
}
body #wrapper header nav ul {
  margin: 0;
  padding: 0;
}
body #wrapper header nav ul li.active {
  background: #fff;
}
body #wrapper header nav ul li.active a {
  color: #636463;
}
body #wrapper header nav ul li {
  height: 50px;
  float: left;
  list-style: none;
}
body #wrapper header nav ul li a {
  color: #fff;
  font-size: 18px;
  display: block;
  font-family: symantec_sansbold;
  margin: 0 25px;
  margin-top: 14px;
}
body #wrapper header nav ul li a:hover {
  text-decoration: none;
}
body #wrapper article {
  background: #fff;
  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  -webkit-box-shadow: 4px 9px 35px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 9px 35px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 9px 35px -13px rgba(0, 0, 0, 0.75);
  border: solid 1px #ccc;
  border-top: none;
  padding: 20px;
}
body #wrapper article .page a {
  color: #e78321;
  text-decoration: underline;
}
body #wrapper article .page a.btn {
  color: #000;
  text-decoration: none;
}
body #wrapper article .page label strong {
  font-size: 22px;
}
body #wrapper article .page .edit-textarea {
  width: 80%;
  height: 150px;
}
body #wrapper article .enter-data .notes {
  margin-top: 20px;
}
body #wrapper article .editing-settings input[type="text"], body #wrapper article .editing-settings select {
  width: 100px;
}
body #wrapper article .item {
  border-bottom: dotted 2px #c4c4c4;
  padding: 10px 0;
}
body #wrapper article label {
  font-weight: bold;
  font-size: 22px;
  font-family: symantec_sansbold;
}
body #wrapper article .settings input, body #wrapper article .settings select {
  font-weight: bold;
}
body #wrapper article .settings .range-options {
  float: left;
}
body #wrapper article .settings .range-options input[type='text'] {
  margin-top: 8px;
  padding: 20px 10px;
}
body #wrapper article .settings .range-type, body #wrapper article .settings select {
  height: 46px;
  padding: 10px;
  float: left;
  margin-right: 25px;
  margin-top: 10px;
}
body #wrapper article .settings .pubpage {
  font-weight: normal;
  font-family: symantec_sansregular;
  float: left;
  margin-right: 10px;
}
body #wrapper article .device .span2 {
  width: 20%;
  margin: 0;
}
body #wrapper article .device .scroll {
  height: 25%;
  overflow: scroll;
}
body #wrapper article .device .device-container {
  border-top: solid 1px #cccccc !important;
  text-align: center;
  border: solid 1px #ccc;
  padding: 3%;
  max-width: 94%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
body #wrapper article .device .device-container .span2 {
  word-break: break-all;
  width: 20%;
  padding: 5px 2%;
  border-right: solid 1px #ccc;
}
body #wrapper article .device .device-container .span2 img {
  max-height: 210px;
}
body #wrapper article .device .device-container .span2 .user-line {
  display: block;
  width: 100%;
  height: 15px;
  overflow: hidden;
}
body #wrapper article .device .device-container .span2 span.app {
  display: block;
  width: 100%;
  height: 15px;
  overflow: hidden;
}
body #wrapper article .device .device-container .span2 .title-line {
  display: block;
  width: 100%;
  height: 15px;
  overflow: hidden;
}
body #wrapper article .device .device-container .span2:last-child {
  border-right: none;
}
body #wrapper article .device .compare-devices-layout {
  max-width: 94%;
  padding: 0px 3%;
  border-top: dotted 2px #ccc;
}
body #wrapper article .device .compare-devices-layout h3 {
  text-align: center;
  margin: 0;
}
body #wrapper article .device .compare-devices-layout h3 span {
  color: #e78321;
}
body #wrapper article .notice {
  font-weight: bold;
  margin-top: 15px;
  color: #636463;
  padding: 10px 0;
  border-top: dotted 3px #c4c4c4;
}
body #wrapper article .notice span:first-child {
  color: #000;
}
body #wrapper article .notice span {
  color: #e78321;
}
body #wrapper article .android .results-header {
  text-align: center;
}
body #wrapper footer {
  margin-top: 18px;
  color: a7a4a1;
}
body #wrapper footer .span6:first-child {
  padding-top: 5px;
  padding-left: 20px;
}
body #wrapper footer img {
  float: right;
  padding-right: 20px;
}
